services:

  x402-gateway:
    image: sagarparker/x402-gateway:latest
    network_mode: host
    environment:
      - CONFIG_PATH=/init-params/config.json
    volumes:
      - /init-params:/init-params:ro
    restart: unless-stopped

  # Ollama service
  ollama_server:
    image: alpine/ollama:0.10.1
    container_name: ollama_server
    init: true
    network_mode: host
    healthcheck:
      test: [ "CMD-SHELL", "ollama --version" ]
      interval: 10s
      retries: 3

  # Ollama model run
  ollama_model:
    image: alpine/ollama:0.10.1
    container_name: ollama_model_qwen3
    command: pull qwen3:0.6b
    init: true
    network_mode: host
    depends_on:
      ollama_server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "ollama show qwen3:0.6b" ]
      start_period: 2m30s
      interval: 30s
      retries: 3
